{% extends 'support/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}

    {% if request.user.role.contacts_can_create_user_permission %}
    <div class="add_user_container">
        <a id="add_user_link" href="/users/add">Добавить пользователя</a>
    </div>
    {% endif %}

    <div class="contacts-container">

        {% for role in roles %}
            <span class="role-name">{{ role.name }}</span>

            <table class="role-users">
                <thead>
                    <tr>
                        <!-- Есть у всех -->
                        <th>ФИО\Название организации</th>
                        {% if role.name == 'Менеджер' %}
                            <th>Задача</th>
                            <th>Номер телефона</th>
                        {% endif %}
                        <th>email</th>

                        {% if role in request.user.role.contacts_can_admin_view_permission.all %}
                            <!-- Если может просматривать как админ -->
                            <th>Имя пользователя</th>
                            <th>Пароль</th>

                            {% if role in request.user.role.contacts_can_edit_permission.all %}
                                <!-- Если может редактировать -->
                                <th></th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                    {% for user in users %}
                        {% if user.role == role %}

                            <tr>
                                <td>
                                    {% if user.name %}
                                        {{ user.name }}
                                    {% endif %}
                                </td>
                                {% if role.name == 'Менеджер' %}
                                    <td>
                                        {% if user.manager_task %}
                                            {{ user.manager_task }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.phone %}
                                            {{ user.phone }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td>
                                    {% if user.email %}
                                        {{ user.email }}
                                    {% endif %}
                                </td>

                                {% if user.role in request.user.role.contacts_can_admin_view_permission.all %}
                                    <!-- Если может просматривать как админ -->
                                    <td>
                                        {% if user.username %}
                                            {{ user.username }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.clear_password %}
                                            {{ user.clear_password }}
                                        {% endif %}
                                    </td>

                                    {% if user.role in request.user.role.contacts_can_edit_permission.all %}
                                        <!-- Если может редактировать -->
                                        <td><a class="edit_link" href="/users/{{ user.id }}/edit">Редактировать</a></td>
                                    {% endif %}
                                {% endif %}

                            </tr>

                        {% endif %}
                    {% endfor %}
                <tbody>

                </tbody>

            </table>
        {% endfor %}

    </div>
{% endblock %}
