{% extends 'support/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/files.css' %}">
{% endblock %}

{% block title %}
    Файлообменник
{% endblock %}

{% block content %}

    <span id="path_list">
        {% for p in path %}
            <a class="path" href="/files/folder/{{ p.id_ }}">{{ p.path }}</a>/
        {% endfor %}
    </span>

    <div id="files-list">
        {% for folder in folders %}
            <a href="/files/folder/{{ folder.id }}" class="folder">
                <img src="{% static 'imgs/folder.png' %}" alt="">
                <span class="f-title">{{ folder.name }}</span>
            </a>
        {% endfor %}
        {% for doc in docs %}
            <a href="/files/doc/{{ doc.id }}" class="folder">
                {% if doc.doctype == 'pdf' %}
                    <img src="{% static 'imgs/pdf.png' %}" alt="">
                {% else %}
                    {% if doc.doctype == 'excel' %}
                        <img src="{% static 'imgs/xlsx.png' %}" alt="">
                    {% else %}
                        {% if doc.doctype == 'docx' %}
                            <img src="{% static 'imgs/doc.png' %}" alt="">
                        {% else %}
                            {% if doc.doctype == 'image' %}
                                <img src="{% static 'imgs/image.png' %}" alt="">
                            {% else %}
                                <img src="{% static 'imgs/file.png' %}" alt="">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <span class="f-title">{{ doc.name }}</span>
            </a>
        {% endfor %}

        {% if request.user.role.file_sharing_download_file_permission %}
            <a href="/files/doc/create/{{ folder_id }}" class="folder">
                <img src="{% static 'imgs/add.png' %}" alt="">
                <span class="f-title">Добавить файл</span>
            </a>
        {% endif %}

        {% if request.user.role.file_sharing_create_folder_permission %}
            <a href="/files/folder/create/{{ folder_id }}" class="folder">
                <img src="{% static 'imgs/add.png' %}" alt="">
                <span class="f-title">Добавить папку</span>
            </a>
        {% endif %}
    </div>
{% endblock %}
