{% extends 'support/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pricelist.css' %}">
{% endblock %}

{% block title %}
    Прайс-лист "{{ pricelist.name }}"
{% endblock %}

{% block content %}
    <div class="table-container">

        <div class="del-block">
            <a id="del-pl" href="/pricelist/{{ pricelist.id }}/delete">Удалить прайс-лист</a>
        </div>

        <h1>
            Последнее обновление: {{ update_date }}
            {% if request.user.role.price_list_update_list_permission %}
                <a id="update_price_list_button" href="/update_price_list/{{ pricelist.id }}">Обновить</a>
            {% endif %}
        </h1>

        <form method="post" class="filters-container">
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Поиск">
            </div>
            <div class="filters">
                <div class="filt">
                    <label for="">Номенклатура.Артикул</label>
                    <input type="text" name="serial">
                </div>
                <div class="filt">
                    <label for="">Ценовая группа/ Номенклатура</label>
                    <input type="text" name="name">
                </div>
                <div class="filt">
                    <label for="">Марки</label>
                    <input type="text" name="manufacturer">
                </div>
                <div class="filt">
                    <label for="">Дилер</label>
                    <input type="text" name="price">
                </div>
            </div>
            {% csrf_token %}
            <button id="search_button" type="submit">Найти</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Номенклатура.Артикул</th>
                    <th>Ценовая группа/ Номенклатура</th>
                    <th>Остаток</th>
                    <th>Марки</th>
                    <th>Дилер</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for prod in products %}
                    <tr>
                        <td>{{ prod.p.serial }}</td>
                        <td>{{ prod.p.name }}</td>
                        <td>{{ prod.p.count }}</td>
                        <td>{{ prod.p.manufacturer }}</td>
                        <td>{{ prod.p.price }}</td>
                        <td id="counter_container_{{ prod.id }}">
                            {% if prod.count == 0 %}
                                <button class="add_to_cart" type="button" onclick="add_to_cart({{ prod.id }})">
                                    В корзину
                                </button>
                            {% else %}
                                <input class="pl_count" id="count-{{ prod.p.id }}" type="number" value="{{ prod.count }}" onchange="update_count({{ prod.p.id }})">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/pricelist.js' %}"></script>
{% endblock %}
