#files-list {
    display: grid;
    padding: 1%;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

.folder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folder > img {
    width: calc(100% - 2rem);
    padding: 1rem;
}

.folder > span {
    color: var(--four);
}

.path {
    color: var(--four);
}

#path_list {
    color: var(--four);
}
