:root {
    --first: #393646;
    --second: #4F4557;
    --thrid: #6D5D6E;
    --four: #F4EEE0;
}

.table-container {
    height: 100%;
    width: calc(100% - 1rem);
    overflow-y: scroll;
    padding-right: 1rem;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--four);
    width: 100%;
}

tr, td, th {
    border-collapse: collapse;
    border: 1px solid var(--four);
    padding: 0.2rem;
}

tr:hover {
    background-color: #6D5D6E;
}

td, th, h1 {
    color: var(--four);
}

.table-container::-webkit-scrollbar {
    width: 20px;               /* ширина scrollbar */
    border-radius: 20px;
}

.table-container::-webkit-scrollbar-track {
    background: var(--first);        /* цвет дорожки */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: var(--thrid);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 4px solid var(--first);  /* padding вокруг плашки */
}

#update_price_list_button {
    color: var(--four);
    background-color: #8d7e8f;
    border: 1px solid var(--four);
    border-radius: 5px;
    padding: 0 1rem;
}

.filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.search, .filters {
    width: 100%;
    text-align: center;
}

#search {
    width: 50%;
}

input {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.filters {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

label {
    color: var(--four);
}

.filt {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1rem;
    margin-top: 0;
}

#search_button {
    width: 50%;
    padding: 0.4rem 1rem;
    border-radius: 7px;
    border: 1px solid var(--four);
    color: var(--four);
    font-size: 20px;
    background-color: #8d7e8f;
    margin-bottom: 1rem;
    cursor: pointer;
}

#search_button:hover {
    background-color: #6D5D6E;
}

#del-pl {
    padding: 0.3rem 1rem;
    background-color: indianred;
    color: #F4EEE0;
    border-radius: 10px;
    border: 1px solid #F4EEE0;
    margin-top: 2rem;
}

.del-block {
    margin-top: 1rem;
}

.add_to_cart {
    font-size: 12px;
    color: var(--four);
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}

tr:hover > td > button {
    background-color: greenyellow;
    color: black;
}

.pl_count {
    width: 50%;
}
